/* ============================================================================
/* Container Styling
/* ============================================================================
  
/* Font family for entire document */
*{
    font-family: sans-serif;
}

/* HTML Style */
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: white;
  }

/* ============================================================================
/* Body Styling
/* ============================================================================

/* Nav Header */
nav {
    display: flex;
    align-items: center;
    margin: 0.5em 1em 0.5em 1em;
}
nav h1 {
    font-size: 2rem;
    margin: 0;
}

/* Container for page content */
#container {
    align-items: center;
    margin: auto;
}

/* pitch point styling - maybe cover this in the */
#pitch{
    display: none;
}

/* Pitch slides styling */
#slideShow{
    width: 65vw;
    position: relative;
    margin: auto;
}
.rockTypeContainers{
    display: none;
    overflow: hidden;
}
.prev, .next{
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -1em;
    padding: 0.8em;
    color: black;
    font-weight: bold;
    font-size: 1em;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
    background-color: rgba(187,187,187,0.5);
}
.dots{
    position: absolute;
    width: 65vw;
    bottom: 0;
    text-align: center;
}
.dot{
    height: 1em;
    width: 1em;
    margin: 0.1em 0.1em;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
.fade {
    animation-name: fade;
    animation-duration: 1s;
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
/* Slide Images */
.slideShowImages{
    width: 65vw;
    margin: auto;
    display: block;
}

/* Testing Product */
.productRelease{
    margin: 1em 0 0.5em 0;
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s ease-in-out;
}
.productRelease:hover{
    transform: scale(1.1)
}

/* Footer */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em 0.5em 0.1em 0.5em;
}
footer h1{
    font-size: 2rem;
    margin: 0;
    padding-right: 1em;
}
.contactTag{
    display: flex;
    justify-content: left;
    align-items: center;
}
.contactTag a img{
    width: 4vw;
    height: 4vw;
}
.social{
    text-decoration: none;
    padding-left: 0.25em;
    padding-right: 0.25em;
    transition: transform 1s ease-in-out;
}
.social:hover{
    transform: scale(1.1)
}